# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Mac system files (because Apple leaves crumbs everywhere)
.DS_Store

# Logs & temp files
*.log

# Environment variables (important)
.env